body, html {
  margin: 0;
}

body {
  color: white;
  font-family: Roboto, sans-serif;
  padding: 20px;
  background: #292929;
}

.warning {
  font-weight: 200;
  color: #E24343;
}

h1 {
  font-size: 1em;
}

input, button {
  color: black;
}

label {
  display: block;
  margin: 10px 0;
}

.login-area {
  display: none;
}

.app > .login-area ~ * {
  transition: opacity 300ms;
}

.app.init > .login-area {
  display: block;
  opacity: 1;
}

.app.init > .login-area ~ * {
  opacity: 0;
}

.app.loggedIn > p {
  display: none;
}

.widget-area {
  margin: 0 auto;
  width: 500px;
  height: 400px;
}

.editor-col {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  background: #333;
  padding: 20px;
  margin-right: 2%;
}

.editor-col:last-child {
  margin-right: 0;
}

.content-list a {
  color: white;
}

.login-area > button {
  background-color: #ea5852;
  color: #fff;
  font-size: 14px;
  min-width: 100px;
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  margin: 20px 0;
}